		<h2 style="border-bottom:1px solid #000000">Instance (<%=@user[:name]%>) Logs </h2>

		<% if @userlogs.size <=0 %>
		<h3> No User logs found</h3>
		<%else%>
		<table class="table table-striped table-bordered table-condensed table-hover" data-role="datagrid" style="margin-top:5px;">
			<tr><th>Timestamp</th><th>Name</th><th class="col-md-7">Log</th></tr>
			<% @userlogs.each do |log|%>
			<tr>
				<td><%=log.createddate.to_s%></td>
				<td><%=log.user.username%></td>
				<td><%=log.logdata%></td>
			</tr>	
			<%end%>						
		</table>
		<%end%>
